.buttons {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 767px) {
    .buttons__button {
        flex-basis: 100%;
    }
}

.buttons__button {
    font-weight: bold;
    color: teal;
    background-color: transparent;
    border: 0;
    padding: 10px;
}

*:disabled {
    color: #ccc;
}