.form {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    background-color: hsl(0, 0%, 100%);
    border-bottom: 2px solid hsl(0, 0%, 87%);
}

.form_container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
    padding: 20px;
}

@media (max-width: 767px) {
    .form_container {
        grid-template-columns: 1fr;
    }
}

.form__header {
    border-bottom: 2px solid hsl(0, 0%, 87%);
    margin: 0;
    padding: 20px;
}

.form__newTask {
    padding: 10px;
    border: 2px solid hsla(0, 0%, 86%, 0.842);
}

.form__button {
    background-color: hsl(180, 100%, 25%);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.form__button:hover {
    background-color: hsl(180, 100%, 20%);
}

.form__button:active {
    background-color: hsl(180, 100%, 30%);
}