.section {
    background-color: hsl(0, 0%, 100%);
    border-bottom: 2px solid hsl(0, 0%, 87%);
    padding: 0px;
    margin: 0px;
}

.section__header {
    border-bottom: 2px solid hsl(0, 0%, 87%);
    margin: 0;
    padding: 20px;
}

.section--lower {
    margin-top: 10px;
}

.section__container{
    padding: 10px;
}